@import "./variables.scss";

//Variable overwrites go above this line
@import "bootstrap";
//class overwrites go below this line

//Buttons
.btn-primary {
  color: $primary-text-light;

  &:disabled {
    color: $primary-light-2;
  }
}

.btn-secondary {
  color: $secondary-text-light;

  &:disabled {
    color: $secondary-text-light;
  }
}

.btn-success {
  color: $success-text-light;

  &:disabled {
    color: $success-light-2;
  }
}

.btn-danger {
  color: $danger-text-light;

  &:disabled {
    color: $danger-light-2;
  }
}

.btn-warning {
  color: $warning-text-light;

  &:disabled {
    color: $warning-light-2;
  }
}

//Cards
.card {
  .card-header {
    background-color: $background-light-3;
    color: $dark;
  }
  .card-body {
    background-color: $background-light-2;
    color: $dark;
  }
}

//Navbar
nav.navbar-light {
  $hover-color: lighten($background-light-3, 5%);
  background-color: $background-light-3;

  .nav-link {
    color: $dark !important;

    @media only screen and (min-width: 992px) {
      &:hover {
        background-color: $hover-color;
        border-radius: 5px;
      }
    }
  }

  .dropdown-menu {
    background-color: $background-light-3;

    .dropdown-item {
      &:active,
      &:hover {
        background-color: $hover-color;
        color: $dark;
      }
    }

    @media only screen and (max-width: 992px) {
      border-color: transparent;
      padding: 0;
      margin: 0;
    }
  }
  .navbar-text {
    color: $dark;
  }
}

//Modal
.modal-content {
  .modal-header,
  .modal-footer {
    background-color: $background-light-1;
    color: $light;
    border-bottom-color: $light;
  }
  .modal-body {
    background-color: $background-light-2;
    color: $dark;
  }
  .modal-footer {
    border-top-color: $light;
  }
}

.form-control {
  background-color: $background-light-5;
}

.input-group {
  .input-group-text,
  input,
  button,
  button,
  select,
  select:disabled {
    border: 1px solid $dark;
  }
}

button:not(.btn-close), .btn:not(.btn-close) {
  border: 1px solid $dark !important;
}

//toast
.toast-success {
  background-color: $success !important;
}

.toast-warning {
  background-color: $warning !important;
  color: $dark !important;
}
