@import "./custom.scss";
@import "./mixins.scss";

// @font-face {
//   font-family: "Komica";
//   src: url("fonts/KOMTITK_.ttf");
// }

body {
  background-color: $background;
  color: $light;

  a {
    color: $primary-light-1;

    &:hover {
      color: $primary-light-1;
    }
  }

  .collapse.show {
    .table-bordered {
      .sticky-header {
        position: sticky;
        z-index: 4;
        top: 56px;

        th {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            border-right: 1px solid #3c3c3c;
          }
        }
      }
    }
  }

  table {
    thead {
      th {
        background-color: black !important;
        color: white;
      }
    }

    .row-label {
      display: none;
    }

    @media only screen and (min-width: 769px) {
      .hide-lg {
        display: none;
      }

      tfoot {
        &,
        tr {
          --bs-table-accent-bg: #bfbfbf !important; //cant use variable here? same as $gray-6
          color: $dark !important;

          &:nth-of-type(2n + 1) {
            --bs-table-accent-bg: #f2f2f2 !important; //cant use variable here? same as $gray-8
          }
        }
      }

      .show-on-mobile {
        .sort-methods {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      thead {
        &:not(.show-on-mobile) {
          display: none;
        }
        &.show-on-mobile {
          &.sticky-header {
            position: revert !important;
          }
          tr.sort-methods {
            display: grid;

            &,
            th {
              border: none !important;
            }
          }
          tr:not(.sort-methods) {
            display: none;
          }
        }
      }
      tbody,
      tfoot {
        tr {
          display: grid;

          &:not(:last-child) {
            border-bottom: solid black 3px;
          }
          td.row-label {
            font-size: 1.5rem;
          }
          .row-label {
            display: unset;
          }
          .category-header {
            display: none;
          }
        }
      }
      tbody {
        tr {
          --bs-table-accent-bg: var(--bs-table-striped-bg) !important;

          td {
            &:nth-of-type(2n + 1) {
              --bs-table-accent-bg: var(--bs-table-bg);
            }
          }
        }
      }
      tfoot {
        border-top: solid black 3px;
        tr {
          --bs-table-accent-bg: #bfbfbf !important;
          color: $dark;

          td {
            &:nth-of-type(2n + 1) {
              --bs-table-accent-bg: #f2f2f2 !important;
            }
          }
        }
      }
      .flex-sm {
        display: flex;
        align-items: center;

        .row-label {
          width: 125px;
          text-align: center;
        }
      }
      .hidden-sm {
        display: none;
      }
    }
  }

  .section-header {
    background-color: black;
    text-align: center;
    padding: 0.5rem 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      cursor: pointer;
      margin: 0;
    }
  }
}

.c-pointer {
  cursor: pointer;
}
.c-help {
  cursor: help;
}

button:disabled {
  cursor: not-allowed;
}

.card-header {
  h3 {
    @include shadow-light();
  }
}

.modal-title {
  @include shadow-dark();
}

.shadow-text {
  text-shadow: 2px 2px 2px black;
}

.text-small {
  font-size: 0.75rem;
}

.text-normal,
.text-medium {
  font-size: 1rem;
}

.text-large {
  font-size: 2rem;
}

.text-xlarge {
  font-size: 3rem;
}

.input-group {
  .search-input {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.border-black {
  border: 1px solid black;
}

.swgoh-page.container {
  max-width: 90%;
}

.swgoh-table {
  .completed {
    color: $success-light-1;
  }
  .unknown {
    color: $warning;
  }
}

.section-header {
  position: relative;

  .select-columns {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 250px;
    margin-top: 0.5rem;
    text-align: left;
  }
  .simple-view-container {
    position: absolute;
    right: 280px;
    top: 12.5px;
    .toggle {
      width: 90px;
      justify-content: unset;
    }
    .toggle-label {
      margin-left: 1.5rem;
    }
  }
  @media only screen and (max-width: 900px) {
    & {
      padding-bottom: 0;

      .select-columns {
        position: unset;
        width: 100%;
        padding: 0 0.25rem;
        margin: 0.5rem 0 0;
      }
    }
  }
}
.select-columns {
  width: 200px;
  margin-left: auto;
  margin-bottom: 0.25rem;
}
