@import "./custom.scss";
@import "./mixins.scss";

// @font-face {
//   font-family: "Komica";
//   src: url("fonts/KOMTITK_.ttf");
// }

body {
  background-color: $background;
  color: $light;

  a {
    color: $primary-light-1;

    &:hover {
      color: $primary-light-1;
    }
    &.link-shadow {
      text-shadow: 2px 2px 2px black;
      text-decoration: none;
      color: #57abdb;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .sticky-header {
    position: sticky;
    z-index: 4;
    top: 56px;

    th {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border-right: 1px solid #3c3c3c;
      }
    }
  }

  table {
    thead {
      th {
        background-color: black !important;
        color: white;
      }
    }

    .row-label {
      display: none;
    }

    @media only screen and (min-width: 769px) {
      .hide-lg {
        display: none;
      }

      tfoot {
        &,
        tr {
          --bs-table-accent-bg: #bfbfbf !important; //cant use variable here? same as $gray-6
          color: $dark !important;

          &:nth-of-type(2n + 1) {
            --bs-table-accent-bg: #f2f2f2 !important; //cant use variable here? same as $gray-8
          }
        }
      }

      .show-on-mobile {
        .sort-methods {
          display: none;
        }
      }
      .shards-owned,
      .priority-input,
      .wallet-input {
        border-top-left-radius: 0.2rem !important;
        border-bottom-left-radius: 0.2rem !important;
      }
    }

    @media only screen and (max-width: 768px) {
      thead {
        &:not(.show-on-mobile) {
          display: none;
        }
        &.show-on-mobile {
          &.sticky-header {
            position: revert !important;
          }
          tr.sort-methods {
            display: grid;

            &,
            th {
              border: none !important;
            }
          }
          tr:not(.sort-methods) {
            display: none;
          }
        }
      }
      tbody,
      tfoot {
        tr {
          display: grid;

          &:not(:last-child) {
            border-bottom: solid black 3px;
          }
          td.row-label {
            font-size: 1.5rem;
          }
          .row-label.flex {
            display: flex;
          }
          .row-label:not(.flex) {
            display: unset;
          }
          .category-header {
            display: none;
          }

          .farming-locations {
            ul {
              list-style: none;
              padding: 0;
            }
          }
        }
      }
      tbody {
        tr {
          --bs-table-accent-bg: var(--bs-table-striped-bg) !important;

          td {
            &:nth-of-type(2n + 1) {
              --bs-table-accent-bg: var(--bs-table-bg);
            }
          }
        }
      }
      tfoot {
        border-top: solid black 3px;
        tr {
          --bs-table-accent-bg: #bfbfbf !important;
          color: $dark;

          td {
            &:nth-of-type(2n + 1) {
              --bs-table-accent-bg: #f2f2f2 !important;
            }
          }
        }
      }
      .flex-sm {
        display: flex;
        align-items: center;

        .row-label {
          width: 125px;
          text-align: center;
        }
      }
      .hidden-sm {
        display: none;
      }
      .text-center-sm {
        text-align: center;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1100px) {
      .text-center-md {
        text-align: center;
      }
    }
  }
}

.c-pointer {
  cursor: pointer;
}
.c-help {
  cursor: help;
}

button:disabled {
  cursor: not-allowed;

  &.btn-primary {
    background-color: $primary-light-1;
    color: $primary-text-light;
  }
  &.btn-secondary {
    background-color: $secondary-light-1;
    color: $secondary-text-light;
  }
  &.btn-success {
    background-color: $success-light-1;
    color: $success-text-light;
  }
  &.btn-danger {
    background-color: $danger-light-1;
    color: $danger-text-light;
  }
  &.btn-warning {
    background-color: $warning-light-1;
    color: $warning-text-light;
  }
}

.card-header {
  h3 {
    @include shadow-light();
  }
}

.modal-title {
  @include shadow-dark();
}

.shadow-text {
  text-shadow: 2px 2px 2px black;
}

.text-small {
  font-size: 0.75rem;
}

.text-normal,
.text-medium {
  font-size: 1rem;
}

.text-large {
  font-size: 2rem;
}

.text-xlarge {
  font-size: 3rem;
}

.text-primary {
  color: $primary;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.text-success {
  color: $success;
}

.text-hover-primary {
  &:hover {
    color: $primary;
  }
}

.text-hover-warning {
  &:hover {
    color: $warning;
  }
}

.text-hover-danger {
  &:hover {
    color: $danger;
  }
}

.text-hover-success {
  &:hover {
    color: $success;
  }
}

.hover-grow {
  &:hover {
    transform: scale(1.5);
  }
}

.input-group {
  .search-input:not(:first-child) {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .search-input:not(:last-child) {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.border-black {
  border: 1px solid black;
}

.swgoh-page.container {
  max-width: 90%;
}

.completed {
  color: $success-light-1;
}
.unknown {
  color: $warning;
}

.simple-view-container {
  position: absolute;
  right: 215px;

  .toggle {
    width: 90px;
    justify-content: unset;
  }
  .toggle-label {
    margin-left: 1.5rem;
  }
}

.select-columns {
  width: 200px;
  margin-left: auto;
  margin-bottom: 0.25rem;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.no-bullets-sm {
  @media only screen and (max-width: 768px) {
    list-style: none;
    padding: 0;
  }
}
